<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <!-- 이 부분을 변수로 변경   -->
    <!--<h1>ㅇㅇ님, 다음에 또 만나요!</h1>-->
    <h1>{{nickname}}님, 다음에 또 만나요!</h1>
</body>
</html>